.hire-me-link:hover {
    color: #fff;
}

.hire-me-link:hover svg {
    fill: #fff;
}

a {
    cursor: pointer;
    font-weight: 600
}

.demo-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 90px;
    height: 100%;
}

@media (max-width: 740px) {
    .space-between-menu-items {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
}