.hire-me-link:hover {
    color: #fff;
}

.hire-me-link:hover svg {
    fill: #fff;
}

a {
    cursor: pointer;
    font-weight: 600
}

.demo-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 90px;
    height: 100%;
}