<nav>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-32 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false"
          (click)="toggleDropdown()">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a [routerLink]="['']" routerLinkActive="active">
            <img class="h-24 w-auto"
              src="../../../../assets/images/G-logo-removebg-preview.png"
              alt="web-icon">
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a [routerLink]="['']" routerLinkActive="active"
              class="block rounded-md px-2 py-2 space-between-menu-items" aria-current="page">Home</a>
            <a (click)="scrollToProjects()" routerLinkActive="active"
              class="block rounded-md px-2 py-2 space-between-menu-items">Projects</a>
            <a [routerLink]="['/about']" routerLinkActive="active"
              class="block rounded-md px-2 py-2 space-between-menu-items">About</a>
            <a (click)="scrollToSkills()" routerLinkActive="active"
              class="block rounded-md px-2 py-2 space-between-menu-items">Skills</a>
            <a (click)="scrollToCertificates()" routerLinkActive="active"
              class="block rounded-md px-2 py-2 space-between-menu-items">Certificates</a>
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a href="https://www.facebook.com/profile.php?id=100009414306153"
          class="flex items-center text-gray-300 rounded-md px-3 py-2 text-sm font-medium hire-me-link"
          aria-current="page"
          target="_blank">
          <svg-icon src="assets/images/chat-icon.svg"
            [svgStyle]="{ 'fill':'' }"
            class="mr-1.5 icon hidden sm:ml-6 sm:block"></svg-icon>
          <span>Hire Me</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden function-based-values-demo" id="mobile-menu"
    [ngClass]="{'hidden': !dropdownOpen, 'block': dropdownOpen}">
    <div class="space-y-1 px-2 pb-3 pt-2 demo-content">
      <a [routerLink]="['']" routerLinkActive="active"
        class="block rounded-md px-3 py-2" aria-current="page">Home</a>
      <a (click)="scrollToProjects()" routerLinkActive="active"
        class="block rounded-md px-3 py-2">Projects</a>
      <a [routerLink]="['/about']" routerLinkActive="active"
        class="block rounded-md px-3 py-2">About</a>
      <a (click)="scrollToSkills()" routerLinkActive="active"
        class="block rounded-md px-3 py-2">Skills</a>
      <a (click)="scrollToCertificates()" routerLinkActive="active"
        class="block rounded-md px-3 py-2">Certificates</a>
      <!-- Animation Menu -->
      <!-- <a [routerLink]="['']" routerLinkActive="active"
        class="block rounded-md px-3 py-2 el" aria-current="page"
        data-x="170">Home</a>
      <a [routerLink]="['/about']" routerLinkActive="active"
        class="block rounded-md px-3 py-2 el" data-x="30">About</a>
      <a (click)="scrollToProjects()" routerLinkActive="active"
        class="block rounded-md px-3 py-2 el" data-x="320">Projects</a> -->
    </div>
  </div>
</nav>

<script src="anime.min.js"></script>