<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="mb-40">
    <span class="title">About me<span class="titleHighlight">.</span></span>
    <div class="blod-line"></div>
    <span class="detail"
      >Hello, My name is Panut Kaewmala.
      <span class="highlight"><b>I'm a FrontEnd developer.</b></span> Graduated
      from University of Phayao, majoring in Software Engineering. I have
      experience working at a Codium company. I use the Angular programming
      language to develop websites.
      <span class="highlight"
        ><b>But I'm always ready to learn new things.</b></span
      ></span
    >
  </div>
</div>

<div class="text-effect">
  <div class="wave-text grid grid-row-7 grid-flow-col gap-1 w-20">
    <span style="--i: 1">S</span>
    <span style="--i: 2">C</span>
    <span style="--i: 3">R</span>
    <span style="--i: 4">O</span>
    <span style="--i: 5">L</span>
    <span style="--i: 6">L</span>
  </div>
</div>
<div class="line-effect">
  <div class="line mt-5"></div>
</div>

<div class="group-icons mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="mb-36 flex justify-center items-center">
    <span class="sub-title"
      >My skills<span class="titleHighlight">.</span></span
    >
  </div>
  <div class="flex flex-wrap justify-between items-center">
    <svg-icon
      src="assets/images/skill-icons/html.svg"
      [svgStyle]="iconStyle"
    ></svg-icon>
    <svg-icon
      src="assets/images/skill-icons/typescript.svg"
      [svgStyle]="iconStyle"
    ></svg-icon>
    <svg-icon
      src="assets/images/skill-icons/angular.svg"
      [svgStyle]="iconStyle"
    ></svg-icon>
    <svg-icon
      src="assets/images/skill-icons/nodejs.svg"
      [svgStyle]="iconStyle"
    ></svg-icon>
  </div>
</div>
<div class="skill-texts">
  <div>css</div>
  <div>figma</div>
  <div>tailwind</div>
  <div>bootstrap</div>
  <div>firebase</div>
  <div>javascript</div>
  <div>docker</div>
  <div>ubuntu</div>
  <div>visualStudioCode</div>
  <div>fork</div>
  <div>github</div>
  <div>gitlab</div>
  <div>python</div>
  <div>postman</div>
  <div>mysql</div>
  <div>dbeaverCE</div>
  <div>command prompt</div>
</div>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="mb-8 flex justify-center items-center">
    <span class="sub-title"
      >Side Projects<span class="titleHighlight">.</span></span
    >
  </div>
  <div class="mb-24 block w-9/12 mx-auto text-center">
    <span>
      This is some of the work that I have done since I started university until
      I graduated. And there is still work that I did while I was an intern but
      couldn't show it. If you want to see other works, check them out at
      <a href="https://github.com/Panut45?tab=repositories" class="highlight" id="side-projects"
        >Github1</a
      >,
      <a href="https://github.com/Panut14536?tab=repositories" class="highlight"
        >Github2</a
      >,
      <a href="https://replit.com/@PANUTKAEWMALA" class="highlight">Replit</a>
      And you can see pictures of some of my work at this
      <a
        href="https://drive.google.com/drive/folders/1Mv8aXmDIQktfgEq8W-BPwiweIghbAs9Y"
        class="highlight"
        >ImageLink</a
      >.
    </span>
  </div>

  <div class="mb-14 projects-reverse">
    <div class="content-right">
      <h1 class="discription-title">GHOART</h1>
      <span class="discription">
        Receive and analyze needs from students who love art within the
        university. There are three things they want: community, illustrations,
        rankings.
        <br />
        <span class="highlight">Community</span> : For talking about various
        pictures
        <br />
        <span class="highlight">Illustrations</span> : Showcase various works of
        those who have posted images on the website.
        <br />
        <span class="highlight">Rankings</span> : Showcases the top 10 best
        works by most likes, daily, weekly, monthly, most popular among male
        users. and popular among female users
        <br />
        <br />
        <span class="highlight">Use Figma</span> to create UX/UI and Prototype.
      </span>
    </div>
    <div class="image">
      <img src="../../../assets/images/ghoart.png" alt="" />
    </div>
  </div>

  <div class="mb-14 text-end projects">
    <div class="image">
      <img src="../../../assets/images/desk.png" alt="" />
    </div>
    <div class="content-left">
      <h1 class="discription-title">Desk+</h1>
      <span class="discription">
        Request system for sending requests By dividing users into two parties.
        One person is a claims handler called an administrator. The second
        person who will submit the request is called the user.
        <br />
        <br />
        <span class="highlight">Use HTML</span>,
        <span class="highlight">CSS</span>,
        <span class="highlight">JavaScript</span>,
        <span class="highlight">Django</span>,
        <span class="highlight">MySQL</span> to create website.
      </span>
    </div>
  </div>

  <div class="mb-14 projects-reverse">
    <div class="content-right">
      <h1 class="discription-title">Shady</h1>
      <span class="discription">
        Online shopping website. Use the shopping cart system to manage the
        types and quantities of products you want to purchase, There is a form
        to fill out with information required for delivery.
        <br />
        <br />
        <span class="highlight">Use Angular</span>,
        <span class="highlight">Django</span>,
        <span class="highlight">MySQL</span> to create website
      </span>
    </div>
    <div class="image">
      <img src="../../../assets/images/shady.png" alt="" />
    </div>
  </div>

  <div class="mb-14 text-end projects">
    <div class="image">
      <video autoplay loop muted>
        <source
          src="../../../assets/videos/screen-calendar.webm"
          type="video/webm"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="content-left">
      <h1 class="discription-title">R-remind</h1>
      <span class="discription">
        Calendar system with notifications via LINE. It will notify you when
        events are added. and will be notified again before the activity day.
        <br />
        <br />
        <span class="highlight">Use Angular Django</span> to create the website.
        <span class="highlight">Use MySQL</span> is database. Make is responsive
        website.
      </span>
    </div>
  </div>
</div>
