<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="mb-40">
    <span class="title">About me<span class="titleHighlight">.</span></span>
    <div class="blod-line"></div>
    <span class="detail">
      Hi, I’m Panut — a developer skilled in <span
        class="highlight"><b>Frontend</b></span>, <span
        class="highlight"><b>Backend</b></span>, <span
        class="highlight"><b>Database</b></span>, and
      <span class="highlight"><b>AI</b></span>.
      I’m passionate about constantly <span
        class="highlight"><b>learning</b></span> new things and believe in
      writing
      <span class="highlight"><b>clean</b></span>, <span
        class="highlight"><b>well-structured</b></span>, and <span
        class="highlight"><b>maintainable code</b></span>.
      I also prioritize choosing the <span class="highlight"><b>right
          technology</b></span> that fits each project to
      deliver the <span class="highlight"><b>best results</b></span>.
      My goal is to become an <span class="highlight"><b>expert</b></span> in
      both <span class="highlight"><b>development</b></span> and
      <span class="highlight"><b>cybersecurity</b></span>, building <span
        class="highlight"><b>high-quality</b></span> and <span
        class="highlight"><b>secure systems</b></span>.
    </span>

  </div>
</div>

<div class="text-effect">
  <div class="wave-text grid grid-row-7 grid-flow-col gap-1 w-20">
    <span style="--i: 1">S</span>
    <span style="--i: 2">C</span>
    <span style="--i: 3">R</span>
    <span style="--i: 4">O</span>
    <span style="--i: 5">L</span>
    <span style="--i: 6">L</span>
  </div>
</div>
<div class="line-effect">
  <div class="line mt-5"></div>
</div>

<div id="skills" class="group-icons mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="mb-36 flex justify-center items-center">
    <span class="sub-title">My skills<span
        class="titleHighlight">.</span></span>
  </div>
  <div class="flex flex-wrap justify-between items-center">
    <svg-icon
      src="assets/images/skill-icons/html.svg"
      [svgStyle]="iconStyle"></svg-icon>
    <svg-icon
      src="assets/images/skill-icons/typescript.svg"
      [svgStyle]="iconStyle"></svg-icon>
    <svg-icon
      src="assets/images/skill-icons/angular.svg"
      [svgStyle]="iconStyle"></svg-icon>
    <svg-icon
      src="assets/images/skill-icons/nodejs.svg"
      [svgStyle]="iconStyle"></svg-icon>
  </div>
</div>
<div class="skill-texts">
  <div>css</div>
  <div>figma</div>
  <div>tailwind</div>
  <div>bootstrap</div>
  <div>firebase</div>
  <div>javascript</div>
  <div>docker</div>
  <div>ubuntu</div>
  <div>visualStudioCode</div>
  <div>fork</div>
  <div>github</div>
  <div>gitlab</div>
  <div>python</div>
  <div>postman</div>
  <div>mysql</div>
  <div>dbeaverCE</div>
  <div>command prompt</div>
</div>

<app-work-experience></app-work-experience>
<app-certificate></app-certificate>
