<section class="max-w-5xl mx-auto p-6">
    <div class="mb-8 font-custom">
        <h1 class="mb-8 sub-title">PageSpeed Insights Results<h1
                class="highlight">.</h1></h1>
        <span>
            We prioritize <span class="highlight">speed and performance</span>
            by testing with PageSpeed
            Insights to ensure every user enjoys the <span
                class="highlight">best experience</span> across <span
                class="highlight">all
                devices</span>.
        </span>
        <span><a href="https://github.com/PanutKaewmala"
                class="highlight">Click for Test Now.</a></span>
    </div>

    <!-- Mobile Results -->
    <div class="mb-12">
        <h1 class="description-title">Mobile Performance</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-14">
            <!-- Test 1 -->
            <div
                class="bg-white rounded-lg shadow-md p-4 flex flex-col items-center">
                <img src="../../../../assets/images/mobile speed1.png"
                    alt="Mobile Test 1"
                    class="w-full h-auto rounded mb-4 shadow" />
            </div>

            <!-- Test 2 -->
            <div
                class="bg-white rounded-lg shadow-md p-4 flex flex-col items-center">
                <img src="../../../../assets/images/mobile speed2.png"
                    alt="Mobile Test 2"
                    class="w-full h-auto rounded mb-4 shadow" />
            </div>
        </div>
    </div>

    <!-- Desktop Results -->
    <div>
        <h1 class="description-title">Desktop Performance</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <!-- Test 3 -->
            <div
                class="bg-white rounded-lg shadow-md p-4 flex flex-col items-center">
                <img src="../../../../assets/images/desktop speed1.png"
                    alt="Desktop Test 1"
                    class="w-full h-auto rounded mb-4 shadow" />
            </div>

            <!-- Test 4 -->
            <div
                class="bg-white rounded-lg shadow-md p-4 flex flex-col items-center">
                <img src="../../../../assets/images/desktop speed2.png"
                    alt="Desktop Test 2"
                    class="w-full h-auto rounded mb-4 shadow" />
            </div>
        </div>
    </div>
</section>
