@import '../../../styles.scss';

.text {
    width: 50%;
}

.title {
    font-size: 78px;
    font-weight: 400;
}

.titleHighlight {
    color: $primary-color;
    font-weight: 400;
}

.description {
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.descriptionHighlight {
    font-weight: 400;
}

app-monster {
    max-width: 100%;
    height: auto;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container {
    width: 80px;
    position: relative;
    left: 836px;
    bottom: 250px;
}

.line {
    background-color: rgb(209, 213, 219);
    width: 1px;
    height: 50vh;
    margin-left: 38.89px;
    animation: vLineIn 1s ease-in-out 1.5s backwards;
}

.wave-text span {
    font-size: 12px;
    position: relative;
    display: inline-block;
    animation: wave 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes vLineIn {
    0% {
        transform: scaleY(0)
    }
}

@keyframes wave {

    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    40%,
    100% {
        transform: translate(0px);
    }
}

@media (min-width: 1101px) {
    .text {
        padding-bottom: 20rem;
    }
}

@media (max-width: 1100px) {
    .flex {
        flex-direction: column;
        text-align: center;
    }

    .text {
        position: relative;
        bottom: 150px;
        width: 100%;
    }

    .title {
        font-size: 68px;
        font-weight: 380;
        line-height: 5rem;
    }

    .description-hidden {
        visibility: hidden;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: 0;
        bottom: 172px;
    }

    .wave-text {
        margin-left: auto;
        margin-right: auto;
    }

    .line {
        margin-left: auto;
        margin-right: auto;
        width: 0.5px;
        height: 380px;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 38px;
        font-weight: 380;
        line-height: 3rem;
    }

    .text {
        position: relative;
        bottom: 100px;
        width: 100%;
    }

    .container {
        position: relative;
        left: 0;
        bottom: 142px;
    }

    .title br {
        display: none;
    }
}