<div
    class="section flex items-center mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 min-h-[350px]">

    <div [ngStyle]="{ 'opacity': imageOpacityValue / 100 }"
        class="min-w-[200px] min-h-[200px]">
        <app-monster></app-monster>
    </div>

    <div class="text">
        <span class="title block min-h-[80px]">Hi, my <br />
            name is <span class="titleHighlight">Gear.</span>
        </span>
        <br /><br />
        <span class="description description-hidden md:inline-block"
            [ngStyle]="{ 'opacity': textSecondOpacityValue / 100 }">I’m
            passionate about crafting <span
                class="descriptionHighlight highlight">beautiful</span> and
            <span class="descriptionHighlight highlight">user-friendly</span>
            websites that <span class="descriptionHighlight highlight">solve
                real problems</span>. Always ready for the next <span
                class="descriptionHighlight highlight">exciting
                project!</span></span>
    </div>
</div>

<div class="container">
    <div class="wave-text grid grid-row-7 grid-flow-col gap-1 w-20"
        [ngStyle]="{ 'opacity': containerOpacityValue / 100 }">
        <span style="--i:1;">S</span>
        <span style="--i:2;">C</span>
        <span style="--i:3;">R</span>
        <span style="--i:4;">O</span>
        <span style="--i:5;">L</span>
        <span style="--i:6;">L</span>
    </div>
    <div>
        <div class="line mt-5"></div>
    </div>
</div>

<app-side-projects></app-side-projects>
