<div class="section flex items-center mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div>
        <app-monster></app-monster>
    </div>
    <div class="text">
      <span class="title">Hi, my <br/> name is <span class="title highlight">Gear.</span></span>
      <br/><br/>
      <span class="description md:inline-block">I’m an <span class="script highlight">front-end developer</span> new graduates from Phayao University.</span>
    </div>
</div>
<div class="container">
    <div class="wave-text grid grid-row-7 grid-flow-col gap-1 w-20">
        <span style="--i:1;">S</span>
        <span style="--i:2;">C</span>
        <span style="--i:3;">R</span>
        <span style="--i:4;">O</span>
        <span style="--i:5;">L</span>
        <span style="--i:6;">L</span>
    </div>
    <div>
        <div class="line mt-5"></div>
    </div>
</div>

<div class="box">

</div>
<div class="box a">

</div>