<!-- workExperience.component.html -->
<div class="experience mt-34 font-custom box mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div>
        <h1 class="work-experience sub-title">Work experience<br>that i
            have<span class="highlight">.</span></h1>
        <div class="blod-line"></div>
        <span class="text-justify description">I completed an 8-month internship
            at Codium company as a <span class="highlight">front-end
                developer</span>. During my time there, I learned how to work in
            a <span class="highlight">real
                development team</span>, build <span
                class="highlight">responsive UIs</span>, and collaborate using
            tools
            like <span class="highlight">Git</span>.
            I also had the chance to improve my <span
                class="highlight">problem-solving skills</span>,
            communicate with <span class="highlight">cross-functional
                teams</span>, and follow <span class="highlight">agile
                development</span> practices. This experience helped me grow
            both
            <span class="highlight">technically</span> and <span
                class="highlight">professionally</span>, and confirmed my
            passion for
            building <span class="highlight">user-centered web
                applications.</span></span>
        <app-button class="button" buttonText="About Codium Company"
            linkName="https://www.codium.co/"></app-button>
    </div>
</div>