<!-- workExperience.component.html -->
<div id="experience"
    class="mt-34 font-custom box mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="experience">
        <h1 class="work-experience sub-title">Work experience<br>that i
            have<span class="highlight">.</span></h1>
        <div class="blod-line"></div>

        <span class="sub-description">
            I completed an 8-month internship at Codium Company as a <span
                class="highlight">Front-end
                Developer</span>.
            During the internship, I learned how to work in
            a <span class="highlight">real
                development team</span>, collaborating with <span
                class="highlight">project
                coordinators</span>,
            <span class="highlight">front-end</span>, and <span
                class="highlight">back-end teams</span>.
            I improved my skills in building <span class="highlight">responsive
                UIs</span>, using tools like
            <span class="highlight">GitLab</span> for version control, and
            working within an <span class="highlight">Agile workflow</span>.
            This experience helped me grow both <span
                class="highlight">technically</span> and professionally,
            and further confirmed my passion for building <span
                class="highlight">user-centered web
                applications</span>.
        </span>
        <app-button class="button" buttonText="About Codium Company"
            linkName="https://www.codium.co/"></app-button>
    </div>
    <div
        class="internship-album mt-12 grid grid-cols-6 grid-rows-4 gap-3 aspect-[3/2]">
        <!-- รูป 1: ใหญ่แนวนอน บนสุด -->
        <div class="col-span-4 row-span-2 relative">
            <picture>
                <img src="../../../../assets/images/component for url img.png"
                    class="w-full h-full object-cover object-left rounded-lg" /></picture>
            <span class="caption absolute bottom-2 left-2">Create URL
                Component</span>
        </div>

        <!-- รูป 2: แนวตั้งขวาสุด -->
        <div class="col-span-2 row-span-4 relative">
            <picture>
                <img src="../../../../assets/images/myTasks.png"
                    class="w-full h-full object-cover object-left rounded-lg" /></picture>
            <span class="caption absolute top-2 left-2">Example Tasks</span>
        </div>

        <!-- รูป 3: Debug (ยืดให้สูงขึ้น) -->
        <div class="col-span-2 row-span-2 relative">
            <picture>
                <img src="../../../../assets/images/api.png"
                    class="w-full h-full object-cover object-left rounded-lg" /></picture>
            <span class="caption absolute bottom-1 right-2">API</span>
        </div>

        <!-- รูป 4: Lunch (กลาง) -->
        <div class="col-span-2 row-span-1 relative">
            <picture>
                <img src="../../../../assets/images/exTasks.png"
                    class="w-full h-full object-cover rounded-lg" /></picture>
            <span class="caption absolute top-1 left-1">Date Field Logic</span>
        </div>

        <!-- รูป 5: Standup (ย้ายมาใต้ Lunch) -->
        <div class="col-span-2 row-span-1 relative">
            <picture>
                <img src="../../../../assets/images/pipeline.png"
                    class="w-full h-full object-cover rounded-lg" /></picture>
            <span class="caption absolute top-1 right-2">Pipeline</span>
        </div>
    </div>
</div>