@import '../../../../styles.scss';

.sub-title {
    font-size: 60px;
    font-weight: 380;
}

.titleHighlight {
    color: $primary-color;
    font-weight: 400;
}

.description {
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.box {
    position: relative;
    bottom: 120px;
}

.font-custom span {
    display: block;
    width: 50%;
    font-size: 20px;
}

.font-custom .highlight {
    display: inline;
    white-space: normal;
}

.blod-line {
    width: 150px;
    height: 6px;
    border-radius: 100px;
    background: $primary-color;
    margin-top: 36px;
    margin-bottom: 36px;
}

.caption {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--text-color);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
}

@media (max-width: 1100px) {
    .sub-title {
        font-size: 50px;
        font-weight: 380;
    }

    .experience {
        width: 580px;
    }

    .box span {
        width: 100%;
    }

}

@media (max-width: 650px) {
    .sub-title {
        font-size: 28px !important;
        font-weight: 380 !important;
    }

    .experience {
        position: static;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .font-custom h1 {
        font-size: 38px;
        font-weight: 400;
    }

    .font-custom span {
        font-size: 16px;
    }

    .font-custom h1 br {
        display: none;
    }
}