<div id="certificates" class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="mb-8 flex justify-center items-center">
        <span class="sub-title">Certificates<span
                class="titleHighlight">.</span></span>
    </div>
    <div class="mb-24 block w-9/12 mx-auto text-center">
        <span class="description">I’ve completed several certifications through
            <a
                class="highlight"
                href="https://www.freecodecamp.org/"
                target="_blank">freeCodeCamp</a> as
            part of my journey in web development.
            These reflect both my technical skills and hands-on experience.
            <a
                class="highlight"
                href="https://www.freecodecamp.org/Alpha25">View
                my certificates</a>
        </span>
    </div>

    <div class="mb-14 projects-reverse">
        <div class="content-right">
            <h1 class="discription-title">Responsive Web Design
                Certification</h1>
            <span class="description">Learned core <span
                    class="highlight">HTML</span> & <span
                    class="highlight">CSS</span> skills to build
                <span class="highlight">flexible</span>, <span
                    class="highlight">responsive layouts</span> using <span
                    class="highlight">Flexbox</span> and <span
                    class="highlight">Grid</span> for smooth
                experiences on all devices.</span>
            <br><br>
            <span class="description">Showcases ability to design <span
                    class="highlight">responsive websites</span> that look <span
                    class="highlight">great</span> and work well on <span
                    class="highlight">desktops</span>, <span
                    class="highlight">tablets</span>, and
                <span class="highlight">smartphones</span>.</span>
        </div>
        <div class="image mb-8">
            <a
                href="https://www.freecodecamp.org/certification/Alpha25/responsive-web-design"
                target="_blank"> <img
                    src="../../../assets/images/CertificateResponsiveWebDesign.png"
                    alt></a>
        </div>
    </div>

    <div class="mb-14 text-end projects">
        <div class="image mb-8">
            <a
                href="https://www.freecodecamp.org/certification/Alpha25/javascript-algorithms-and-data-structures-v8"
                target="_blank"><img
                    src="../../../assets/images/CertificateJS.png"
                    alt></a>
        </div>
        <div class="content-left">
            <h1 class="description-title">JavaScript Algorithms and Data
                Structures</h1>
            <span class="description">Mastered core <span
                    class="highlight">JavaScript</span> concepts, algorithms,
                and <span
                    class="highlight">data structures</span> to solve complex
                problems efficiently and write
                clean, optimized code.</span>
            <br><br>
            <span class="description">Demonstrates strong skills in <span
                    class="highlight">problem-solving</span>,
                <span
                    class="highlight">logical thinking</span>, and applying
                algorithms in real-world coding
                challenges and projects.</span>
        </div>
    </div>

    <div class="mb-14 projects-reverse">
        <div class="content-right">
            <h1 class="description-title">Front End Development Libraries</h1>
            <span class="description">Skilled in <span
                    class="highlight">React</span>, <span
                    class="highlight">Redux</span>, <span
                    class="highlight">Bootstrap</span>, and <span
                    class="highlight">jQuery</span> to build dynamic,
                responsive,
                and maintainable front-end applications.</span>
            <br><br>
            <span class="description">Demonstrates expertise in modern <span
                    class="highlight">front-end libraries</span> and tools for
                creating seamless user interfaces and efficient web
                workflows.</span>
        </div>
        <div class="image mb-8">
            <a
                href="https://www.freecodecamp.org/certification/Alpha25/front-end-development-libraries"
                target="_blank"> <img
                    src="../../../assets/images/CertificateFrontend.png"
                    alt></a>
        </div>
    </div>
</div>