<div id="side-projects"
    class="font-custom box mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="mb-8">
        <h1 class="mb-8 sub-title">
            Side Projects
            <span class="highlight">.</span>
        </h1>
        <span class="sub-description">
            I’ve built various <span class="highlight">self-initiated
                projects</span>—from <span class="highlight">responsive
                layouts</span>
            and
            <span class="highlight">reusable UI components</span> to working
            with APIs
            and managing state. I focus on
            <span class="highlight">clean code</span>, <span
                class="highlight">intuitive user flows</span>, and <span
                class="highlight">scalable design</span>. Explore a few
            highlights below or visit GitHub for more.
            <span><a href="https://github.com/PanutKaewmala"
                    class="highlight"><b>Click for See My GitHub</b></a></span>
        </span>
    </div>
</div>

<div class="projects font-custom mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="image mb-8">
        <picture>
            <img src="../../../assets/images/dev-profile-react-image-site.png"
                alt /></picture>
    </div>
    <div class="project-detail">
        <h1 class="description-title">Create Portfolio form React</h1>
        <span class="description">
            Create Portfolio from React is a personal portfolio project
            built with
            <span class="highlight">React</span>, <span
                class="highlight">CSS</span>
            and <span class="highlight">React Router</span>.
            <br><br>
            It showcases skills in
            <span
                class="highlight">responsive design</span>,
            <span class="highlight">component-based architecture</span>, and
            <span
                class="highlight">dynamic routing</span> to present projects
            and personal info in a clean, modern interface.
        </span>
        <app-button class="button" buttonText="View Site"
            linkName="https://dev-portfolio-react-6a9cd.web.app/"></app-button>
    </div>
</div>
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 project-line"></div>

<div class="projects font-custom mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="image mb-8">
        <picture>
            <img
                src="../../../assets/images/algorithm-visualizer-image-site.png"
                alt /></picture>
    </div>
    <div class="project-detail">
        <h1 class="description-title">Algorithm Visualizer</h1>
        <span class="description">
            Algorithm Visualizer is a <span class="highlight">React-based
                project</span> using JavaScript and CSS
            to create an <span class="highlight">interactive tool</span>
            that
            visually demonstrates <span class="highlight">popular
                algorithms</span> like sorting and searching.
            <br><br>
            <span
                class="highlight">Skills applied</span> include React
            <span class="highlight">state management</span>, algorithm
            design, and
            responsive UI/animation
            development.
        </span>
        <app-button class="button" buttonText="View Site"
            linkName="https://algo-visualizer-d2047.web.app/"></app-button>
    </div>
</div>
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 project-line"></div>

<div class="projects font-custom mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="image mb-8">
        <picture>
            <img src="../../../assets/images/TodoListShowCaseImageSite.png"
                alt /></picture>
    </div>
    <div class="project-detail">
        <h1 class="description-title">To-Do List</h1>
        <span class="description">
            To-Do List is a task management app built with <span
                class="highlight">Vue.js</span>, <span class="highlight">Vue
                Router</span>, and
            <span class="highlight">CSS</span>. It demonstrates skills in
            <span
                class="highlight">component-based design</span>, <span
                class="highlight">state handling</span>,
            and <span class="highlight">responsive UI</span>, with features
            like
            <span class="highlight">task adding</span>, <span
                class="highlight">editing</span>, and
            <span class="highlight">filtering</span> for better
            productivity.
        </span>
        <app-button class="button" buttonText="View Site"
            linkName="https://todo-list-by-vue.web.app/"></app-button>
    </div>
</div>
